@reference "@/styles/global.css";

.frame {
    @apply
        bg-base
        selection:bg-rosewater selection:text-crust overflow-y-auto
        border-2 border-overlay0
        flex flex-col
        whitespace-pre-wrap break-all
        cursor-text;

    &:hover, &.active { @apply border-lavender; }
}

.blinker {
    &::after {
        content: " ";
        @apply
            ml-1
            border border-rosewater;
    }

    &.active::after { @apply bg-rosewater; }
}

.rainbowText {
  background: linear-gradient(
    to bottom,
    theme(--color-red),
    theme(--color-peach),
    theme(--color-yellow),
    theme(--color-green),
    theme(--color-blue),
    theme(--color-mauve),
    theme(--color-pink)
  );
  background-clip: text;
  color: transparent;
}