@import "tailwindcss";

@theme inline {
    --color-rosewater: #f5e0dc;
    --color-rosewater-rgb: 245 224 220;
    --color-rosewater-hsl: 9.600 55.556% 91.176%;
    --color-flamingo: #f2cdcd;
    --color-flamingo-rgb: 242 205 205;
    --color-flamingo-hsl: 0.000 58.730% 87.647%;
    --color-pink: #f5c2e7;
    --color-pink-rgb: 245 194 231;
    --color-pink-hsl: 316.471 71.831% 86.078%;
    --color-mauve: #cba6f7;
    --color-mauve-rgb: 203 166 247;
    --color-mauve-hsl: 267.407 83.505% 80.980%;
    --color-red: #f38ba8;
    --color-red-rgb: 243 139 168;
    --color-red-hsl: 343.269 81.250% 74.902%;
    --color-maroon: #eba0ac;
    --color-maroon-rgb: 235 160 172;
    --color-maroon-hsl: 350.400 65.217% 77.451%;
    --color-peach: #fab387;
    --color-peach-rgb: 250 179 135;
    --color-peach-hsl: 22.957 92.000% 75.490%;
    --color-yellow: #f9e2af;
    --color-yellow-rgb: 249 226 175;
    --color-yellow-hsl: 41.351 86.047% 83.137%;
    --color-green: #a6e3a1;
    --color-green-rgb: 166 227 161;
    --color-green-hsl: 115.455 54.098% 76.078%;
    --color-teal: #94e2d5;
    --color-teal-rgb: 148 226 213;
    --color-teal-hsl: 170.000 57.353% 73.333%;
    --color-sky: #89dceb;
    --color-sky-rgb: 137 220 235;
    --color-sky-hsl: 189.184 71.014% 72.941%;
    --color-sapphire: #74c7ec;
    --color-sapphire-rgb: 116 199 236;
    --color-sapphire-hsl: 198.500 75.949% 69.020%;
    --color-blue: #89b4fa;
    --color-blue-rgb: 137 180 250;
    --color-blue-hsl: 217.168 91.870% 75.882%;
    --color-lavender: #b4befe;
    --color-lavender-rgb: 180 190 254;
    --color-lavender-hsl: 231.892 97.368% 85.098%;
    --color-text: #cdd6f4;
    --color-text-rgb: 205 214 244;
    --color-text-hsl: 226.154 63.934% 88.039%;
    --color-subtext1: #bac2de;
    --color-subtext1-rgb: 186 194 222;
    --color-subtext1-hsl: 226.667 35.294% 80.000%;
    --color-subtext0: #a6adc8;
    --color-subtext0-rgb: 166 173 200;
    --color-subtext0-hsl: 227.647 23.611% 71.765%;
    --color-overlay2: #9399b2;
    --color-overlay2-rgb: 147 153 178;
    --color-overlay2-hsl: 228.387 16.757% 63.725%;
    --color-overlay1: #7f849c;
    --color-overlay1-rgb: 127 132 156;
    --color-overlay1-hsl: 229.655 12.775% 55.490%;
    --color-overlay0: #6c7086;
    --color-overlay0-rgb: 108 112 134;
    --color-overlay0-hsl: 230.769 10.744% 47.451%;
    --color-surface2: #585b70;
    --color-surface2-rgb: 88 91 112;
    --color-surface2-hsl: 232.500 12.000% 39.216%;
    --color-surface1: #45475a;
    --color-surface1-rgb: 69 71 90;
    --color-surface1-hsl: 234.286 13.208% 31.176%;
    --color-surface0: #313244;
    --color-surface0-rgb: 49 50 68;
    --color-surface0-hsl: 236.842 16.239% 22.941%;
    --color-base: #1e1e2e;
    --color-base-rgb: 30 30 46;
    --color-base-hsl: 240.000 21.053% 14.902%;
    --color-mantle: #181825;
    --color-mantle-rgb: 24 24 37;
    --color-mantle-hsl: 240.000 21.311% 11.961%;
    --color-crust: #11111b;
    --color-crust-rgb: 17 17 27;
    --color-crust-hsl: 240.000 22.727% 8.627%;
}

@layer base {
    a:not([role=button]) { @apply text-blue; }
    h1 { @apply text-4xl; }
    h2 { @apply text-2xl; }
    h3 { @apply text-lg; }
}